<div class="header">
  <span class="title">Todo List ({{ counter$ | async }})</span>
  <button mat-mini-fab color="primary" (click)="displayTodoDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- (keywordChange)="setSuggestList($event)" -->

<app-todo-list-search
  [suggestList]="(suggestList$ | async)!"
  (keywordChange)="keyword$.next($event)"
  (searchClick)="search($event)"></app-todo-list-search>

<!-- [todoList]="(todoList$ | async)?.data || []" -->
<!-- [todoList]="(items$ | async) || []" -->

<app-todo-list-table
  [todoList]="(todoList$ | async)!.data"
  [totalCount]="(todoList$ | async)!.totalCount"
  [pageIndex]="(pagination$ | async)!.pageNumber"
  [pageSize]="(pagination$ | async)!.pageSize"
  (refreshClick)="refresh()"
  (sortChange)="sortChange($event)"
  (pageChange)="pageChange($event)"
  (todoItemStatusChange)="todoItemStatusChange($event)"
  (todoItemDelete)="todoItemDelete($event)"
></app-todo-list-table>

<div class="todo-loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
